@theme {
  /* Colors */
  --color-paper-white: #fdfcfe;
  --color-carbon-black: #0f0d13;
  --color-pure-black: #000000;
  --color-ink-black: #191922;
  --color-graphite: #555257;
  --color-fog-gray: #a9a6aa;
  --color-steel-gray: #6f6d71;
  --color-pearl-gray: #d1d1d7;
  --color-signal-violet: #a238ff;
  --color-lilac-wash: #d09aff;

  /* Typography */
  --font-deezer-brand-custom-condensed-display: 'Deezer Brand (custom condensed display)', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  --font-inter: 'Inter', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;

  /* Typography — Scale */
  --text-caption: 12px;
  --leading-caption: 18;
  --tracking-caption: 0.16px;
  --text-body-sm: 14px;
  --leading-body-sm: 21;
  --text-body: 16px;
  --leading-body: 24;
  --text-subheading: 20px;
  --leading-subheading: 27;
  --text-heading-sm: 24px;
  --leading-heading-sm: 29;
  --tracking-heading-sm: 0.1px;
  --text-heading: 35px;
  --leading-heading: 32;
  --tracking-heading: 0.18px;
  --text-heading-lg: 56px;
  --leading-heading-lg: 67;
  --tracking-heading-lg: 0.11px;
  --text-display: 120px;
  --leading-display: 108;
  --tracking-display: 0.48px;
  --text-display-xl: 140px;
  --leading-display-xl: 99;
  --tracking-display-xl: 0.28px;

  /* Spacing */
  --spacing-4: 4px;
  --spacing-7: 7px;
  --spacing-8: 8px;
  --spacing-9: 9px;
  --spacing-10: 10px;
  --spacing-14: 14px;
  --spacing-15: 15px;
  --spacing-16: 16px;
  --spacing-20: 20px;
  --spacing-24: 24px;
  --spacing-25: 25px;
  --spacing-28: 28px;
  --spacing-32: 32px;
  --spacing-56: 56px;
  --spacing-112: 112px;
  --spacing-140: 140px;

  /* Border Radius */
  --radius-sm: 3px;
  --radius-lg: 8px;
  --radius-xl: 12px;
}