@theme {
  /* Colors */
  --color-obsidian-ground: #000000;
  --color-deep-charcoal: #19191c;
  --color-graphite: #343434;
  --color-iron: #474749;
  --color-ash: #757577;
  --color-slate: #8c8c8;
  --color-silver: #a3a3a4;
  --color-fog: #bababb;
  --color-pure-white: #ffffff;
  --color-electric-blue: #18a3fa;
  --color-violet-pulse: #7b61ff;
  --color-iris: #6b57ff;
  --color-amethyst: #8473ff;
  --color-deep-violet: #2e106a;
  --color-neon-pink: #f31199;
  --color-magenta-glow: #5a1fd0;
  --color-nebula-violet: #5a1fd0;
  --color-aurora-teal: #08deaa;
  --color-hero-blue-glow: #0047fd;
  --color-danger-red: #f45c4a;
  --color-success-green: #4dbb5f;
  --color-warning-amber: #f3c033;

  /* Typography */
  --font-jetbrains-sans: 'JetBrains Sans', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;

  /* Typography — Scale */
  --text-caption: 13px;
  --leading-caption: 1.2;
  --tracking-caption: 0.065px;
  --text-body-sm: 16px;
  --leading-body-sm: 1.5;
  --tracking-body-sm: 0.032px;
  --text-body: 20px;
  --leading-body: 1.4;
  --text-subheading: 29px;
  --leading-subheading: 1.34;
  --tracking-subheading: -0.029px;
  --text-heading-sm: 35px;
  --leading-heading-sm: 1.2;
  --tracking-heading-sm: -0.035px;
  --text-heading: 43px;
  --leading-heading: 1.14;
  --tracking-heading: -0.043px;
  --text-heading-lg: 72px;
  --leading-heading-lg: 1;
  --tracking-heading-lg: -0.36px;
  --text-display: 79px;
  --leading-display: 0.9;
  --tracking-display: -0.395px;

  /* Spacing */
  --spacing-8: 8px;
  --spacing-16: 16px;
  --spacing-24: 24px;
  --spacing-32: 32px;
  --spacing-48: 48px;
  --spacing-64: 64px;
  --spacing-96: 96px;
  --spacing-144: 144px;
  --spacing-200: 200px;

  /* Border Radius */
  --radius-md: 4px;
  --radius-2xl: 16px;
  --radius-2xl-2: 20px;
  --radius-3xl: 24px;
}