@theme {
  /* Colors */
  --color-ember-coral: #ff5c3c;
  --color-pure-white: #ffffff;
  --color-ink-black: #000000;
  --color-cream-paper: #f8f6f2;
  --color-soft-cream: #fffbe7;
  --color-charcoal: #141414;
  --color-iron-gray: #1f2026;
  --color-mid-gray: #6b6b6b;
  --color-silver: #c4c4c4;
  --color-slate: #333333;
  --color-ash: #e8e8ea;
  --color-goldenrod: #f9e070;
  --color-sage: #57ad6a;
  --color-sunset-wash: #fbeaf6;
  --color-category-royal: #5b3af7;
  --color-category-sky: #4160ff;
  --color-category-verdant: #38c585;
  --color-category-magenta: #c83ad6;
  --color-category-sunrise: #ff4a4a;

  /* Typography */
  --font-attila-bold: 'Attila-Bold', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  --font-attila-sans-uniform: 'Attila Sans Uniform', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  --font-labil-bold: 'Labil-Bold', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  --font-labil-grotesk: 'Labil Grotesk', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  --font-labil-regular: 'Labil-Regular', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;

  /* Typography — Scale */
  --text-caption: 12px;
  --leading-caption: 1.2;
  --tracking-caption: -0.12px;
  --text-body-sm: 14px;
  --leading-body-sm: 1.5;
  --tracking-body-sm: -0.14px;
  --text-body: 16px;
  --leading-body: 1.5;
  --tracking-body: -0.16px;
  --text-subheading: 20px;
  --leading-subheading: 1.2;
  --tracking-subheading: -0.2px;
  --text-heading-sm: 24px;
  --leading-heading-sm: 1.2;
  --tracking-heading-sm: -0.24px;
  --text-heading: 32px;
  --leading-heading: 1.1;
  --tracking-heading: -0.64px;
  --text-heading-lg: 40px;
  --leading-heading-lg: 1.1;
  --tracking-heading-lg: -0.52px;
  --text-display: 48px;
  --leading-display: 1.1;
  --tracking-display: -0.96px;

  /* Spacing */
  --spacing-4: 4px;
  --spacing-8: 8px;
  --spacing-12: 12px;
  --spacing-16: 16px;
  --spacing-20: 20px;
  --spacing-24: 24px;
  --spacing-32: 32px;
  --spacing-48: 48px;
  --spacing-60: 60px;
  --spacing-64: 64px;
  --spacing-80: 80px;
  --spacing-124: 124px;

  /* Border Radius */
  --radius-lg: 8px;
  --radius-xl: 12px;
  --radius-2xl: 16px;
  --radius-2xl-2: 20px;
  --radius-3xl: 24px;
  --radius-3xl-2: 30px;
  --radius-3xl-3: 40px;

  /* Shadows */
  --shadow-subtle: rgba(193, 194, 222, 0.2) 1px 1px 1px 0px inset, rgba(255, 255, 255, 0.8) -1px -1px 1px 0px inset, rgb(255, 255, 255) 1px 1px 1px 0px inset, rgba(221, 223, 228, 0.5) 5px 5px 24px 0px;
  --shadow-xl: rgba(134, 137, 141, 0.2) 0px 0px 40px 0px;
  --shadow-lg: rgba(239, 227, 225, 0.3) 5px 5px 24px 0px;
  --shadow-xl-2: rgba(133, 136, 140, 0.2) 0px 0px 40px 0px;
  --shadow-subtle-2: rgba(0, 0, 0, 0.02) 0px 2px 0px 0px;
}