@theme {
  /* Colors */
  --color-paper-white: #ffffff;
  --color-charcoal: #282828;
  --color-ink-black: #000000;
  --color-ash-gray: #dcdcdc;
  --color-flesh-peach: #efc4b2;

  /* Typography */
  --font-apple-system: '-apple-system', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  --font-custom21879-custom49610: 'custom_21879 / custom_49610', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  --font-custom49610: 'custom_49610', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;

  /* Typography — Scale */
  --text-caption: 12px;
  --leading-caption: 1.67;
  --tracking-caption: -0.56px;
  --text-body: 16px;
  --leading-body: 1.17;
  --text-display-lg: 125px;
  --leading-display-lg: 1.02;
  --text-display: 142px;
  --leading-display: 0.81;
  --tracking-display: -6.67px;

  /* Spacing */
}