@theme {
  /* Colors */
  --color-graphite-violet: #333b52;
  --color-slate-gray: #656c86;
  --color-mist: #969bb5;
  --color-hairline: #d1d6e5;
  --color-cloud: #e6eaf4;
  --color-paper: #f5f8ff;
  --color-pure-white: #ffffff;
  --color-indigo-core: #3e57da;
  --color-indigo-glow: #8098f9;
  --color-lavender-mist: #c6d7fe;
  --color-midnight-indigo: #0d0f2c;
  --color-deep-indigo: #1f235b;
  --color-forest: #1a280b;
  --color-mint-tint: #ebf6df;
  --color-ember: #470800;
  --color-saffron: #42230a;
  --color-buttercream: #fffadb;
  --color-g2-coral: #ff7345;

  /* Typography */
  --font-basiersquare-webfont: 'Basiersquare Webfont', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;

  /* Typography — Scale */
  --text-caption: 12px;
  --leading-caption: 1.6;
  --tracking-caption: 0.48px;
  --text-body-sm: 14px;
  --leading-body-sm: 1.57;
  --tracking-body-sm: -0.028px;
  --text-body: 16px;
  --leading-body: 1.5;
  --tracking-body: -0.064px;
  --text-subheading-sm: 18px;
  --leading-subheading-sm: 1.44;
  --tracking-subheading-sm: -0.09px;
  --text-subheading: 20px;
  --leading-subheading: 1.4;
  --tracking-subheading: -0.16px;
  --text-heading-sm: 28px;
  --leading-heading-sm: 1.21;
  --tracking-heading-sm: -0.28px;
  --text-heading: 40px;
  --leading-heading: 1.1;
  --tracking-heading: -1.4px;
  --text-heading-lg: 56px;
  --leading-heading-lg: 1.04;
  --tracking-heading-lg: -2.24px;
  --text-display: 88px;
  --leading-display: 1;
  --tracking-display: -4.4px;

  /* Spacing */
  --spacing-8: 8px;
  --spacing-16: 16px;
  --spacing-24: 24px;
  --spacing-32: 32px;
  --spacing-40: 40px;
  --spacing-48: 48px;
  --spacing-56: 56px;
  --spacing-64: 64px;
  --spacing-72: 72px;
  --spacing-80: 80px;
  --spacing-96: 96px;
  --spacing-144: 144px;
  --spacing-168: 168px;
  --spacing-224: 224px;

  /* Border Radius */
  --radius-xl: 12px;
  --radius-2xl: 16px;
  --radius-3xl: 24px;
  --radius-full: 80px;
  --radius-full-2: 100px;
  --radius-full-3: 999px;
  --radius-full-4: 15984px;

  /* Shadows */
  --shadow-md: rgba(16, 24, 40, 0.08) 0px 2px 10px 0px, rgb(230, 234, 244) 0px 0px 0px 1px;
  --shadow-md-2: rgba(16, 24, 40, 0.08) 0px 2px 16px 0px;
  --shadow-md-3: rgba(16, 24, 40, 0.08) 0px 2px 10px 0px;
  --shadow-subtle: rgb(209, 214, 229) 0px 0px 0px 1px, rgba(16, 24, 40, 0.08) 0px 2px 16px 0px;
  --shadow-lg: rgba(16, 24, 40, 0.08) 0px 6px 20px 0px;
}