@theme {
  /* Colors */
  --color-obsidian: #000000;
  --color-charcoal: #141414;
  --color-paper-white: #ffffff;
  --color-bone: #efefef;
  --color-smoke: #cecece;
  --color-ash: #b2b2b2;
  --color-pewter: #999999;
  --color-iron: #777777;
  --color-graphite: #5e5e5e;
  --color-onyx: #1f1f1f;

  /* Typography */
  --font-helvetica-now-display: 'Helvetica Now Display', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  --font-times: 'Times', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;

  /* Typography — Scale */
  --text-micro: 10px;
  --leading-micro: 1.1;
  --tracking-micro: -0.02px;
  --text-caption: 12px;
  --leading-caption: 1.17;
  --tracking-caption: -0.006px;
  --text-body-sm: 14px;
  --leading-body-sm: 1.43;
  --text-body: 16px;
  --leading-body: 1.5;
  --text-subheading: 36px;
  --leading-subheading: 1.17;
  --tracking-subheading: -0.008px;
  --text-display: 87px;
  --leading-display: 1.1;
  --tracking-display: -0.02px;

  /* Spacing */
  --spacing-5: 5px;
  --spacing-6: 6px;
  --spacing-7: 7px;
  --spacing-8: 8px;
  --spacing-9: 9px;
  --spacing-10: 10px;
  --spacing-11: 11px;
  --spacing-12: 12px;
  --spacing-16: 16px;
  --spacing-25: 25px;
  --spacing-30: 30px;
  --spacing-34: 34px;
  --spacing-50: 50px;
  --spacing-100: 100px;

  /* Border Radius */
  --radius-md: 4.0678px;
  --radius-md-2: 7px;
  --radius-lg: 10px;
  --radius-3xl: 26px;
}