@theme {
  /* Colors */
  --color-blurple: #5865f2;
  --color-dark-blurple: #3442d9;
  --color-hover-blurple: #8891f2;
  --color-spring-green: #57f287;
  --color-fuchsia: #eb459;
  --color-vivid-cerulean: #00b0f4;
  --color-ember-orange: #fda220;
  --color-ekko-red: #de2761;
  --color-void: #000000;
  --color-snow: #ffffff;
  --color-not-quite-black: #23272a;
  --color-dark-charcoal: #2c2f33;
  --color-graphite: #333333;
  --color-fog: #babcd9;
  --color-greyple: #99aab5;
  --color-dim-grey: #50555f;
  --color-off-white: #f6f6f6;

  /* Typography */
  --font-abc-ginto-nord-discord: 'ABC Ginto Nord Discord', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  --font-abc-ginto-discord: 'ABC Ginto Discord', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  --font-gg-sans: 'GG Sans', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  --font-abc-ginto-normal: 'ABC Ginto Normal', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;

  /* Typography — Scale */
  --text-body: 16px;
  --leading-body: 1.5;
  --text-body-lg: 20px;
  --leading-body-lg: 1.38;
  --text-heading-sm: 36px;
  --leading-heading-sm: 1.2;
  --tracking-heading-sm: -0.36px;
  --text-heading: 48px;
  --leading-heading: 0.93;
  --tracking-heading: -0.48px;
  --text-heading-lg: 56px;
  --leading-heading-lg: 0.86;
  --tracking-heading-lg: -0.56px;
  --text-display: 61px;
  --leading-display: 0.86;
  --tracking-display: -0.61px;

  /* Spacing */
  --spacing-4: 4px;
  --spacing-8: 8px;
  --spacing-12: 12px;
  --spacing-16: 16px;
  --spacing-20: 20px;
  --spacing-24: 24px;
  --spacing-28: 28px;
  --spacing-36: 36px;
  --spacing-40: 40px;
  --spacing-48: 48px;
  --spacing-52: 52px;
  --spacing-56: 56px;
  --spacing-80: 80px;
  --spacing-112: 112px;
  --spacing-136: 136px;
  --spacing-176: 176px;

  /* Border Radius */
  --radius-xl: 12px;
  --radius-2xl: 16px;
  --radius-full: 104px;
  --radius-full-2: 120px;
}