@theme {
  /* Colors */
  --color-brand-blue: #145fe4;
  --color-hero-fade: #145fe4;
  --color-white: #ffffff;
  --color-onyx: #000000;
  --color-deep-space: #1d1d21;
  --color-void: #242529;
  --color-graphite: #303136;
  --color-ash: #d7d7db;
  --color-warning-tan: #cbb88;

  /* Typography */
  --font-agilesans: 'agileSans', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  --font-ui-sans-serif: 'ui-sans-serif', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;

  /* Typography — Scale */
  --text-caption: 14px;
  --leading-caption: 1.5;
  --text-body: 16px;
  --leading-body: 1.5;
  --text-subheading: 20px;
  --leading-subheading: 1.43;
  --text-heading-sm: 32px;
  --leading-heading-sm: 1.25;
  --tracking-heading-sm: -0.74px;
  --text-heading: 48px;
  --leading-heading: 1.2;
  --tracking-heading: -1.1px;
  --text-heading-lg: 64px;
  --leading-heading-lg: 1.1;
  --tracking-heading-lg: -1.47px;
  --text-display: 88px;
  --leading-display: 1.1;
  --tracking-display: -2.02px;

  /* Spacing */
  --spacing-4: 4px;
  --spacing-8: 8px;
  --spacing-12: 12px;
  --spacing-16: 16px;
  --spacing-20: 20px;
  --spacing-24: 24px;
  --spacing-32: 32px;
  --spacing-48: 48px;
  --spacing-64: 64px;
  --spacing-72: 72px;
  --spacing-96: 96px;
  --spacing-128: 128px;

  /* Border Radius */
  --radius-sm: 2px;
  --radius-2xl: 16px;
  --radius-3xl: 25px;
  --radius-full: 9999px;
  --radius-full-2: 99999px;
}