@theme {
  /* Colors */
  --color-snow: #ffffff;
  --color-fog: #f9f9fb;
  --color-mist: #eff0f6;
  --color-silver: #e5e7eb;
  --color-charcoal: #333333;
  --color-graphite: #545454;
  --color-smoke: #767676;
  --color-ash: #808080;
  --color-emerald-pulse: #24b26d;
  --color-cobalt-signal: #2c70dd;

  /* Typography */
  --font-sen: 'Sen', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;

  /* Typography — Scale */
  --text-caption: 13px;
  --leading-caption: 20;
  --text-body-sm: 15px;
  --leading-body-sm: 23;
  --text-body-lg: 17px;
  --leading-body-lg: 26;
  --text-subheading: 19px;
  --leading-subheading: 33;
  --text-heading-sm: 22px;
  --leading-heading-sm: 33;
  --text-heading: 36px;
  --leading-heading: 54;
  --text-heading-lg: 44px;
  --leading-heading-lg: 55;
  --text-display: 56px;
  --leading-display: 60;

  /* Spacing */
  --spacing-4: 4px;
  --spacing-6: 6px;
  --spacing-8: 8px;
  --spacing-13: 13px;
  --spacing-17: 17px;
  --spacing-21: 21px;
  --spacing-25: 25px;
  --spacing-29: 29px;
  --spacing-33: 33px;
  --spacing-38: 38px;
  --spacing-50: 50px;
  --spacing-67: 67px;
  --spacing-84: 84px;
  --spacing-90: 90px;
  --spacing-95: 95px;
  --spacing-134: 134px;

  /* Border Radius */
  --radius-md: 6.26325px;
  --radius-xl: 12.5265px;
  --radius-full: 9999px;
}